/*--------------------------------------------------------------
    >>> TABLE OF CONTENTS:
    ----------------------------------------------------------------
    # Reseting
    # Variables
    # text span and other font styles
    # Slider
    # sections
    # Footer
    # arrow
    # Media Query
    # Animations
    # Others
        ## Other 1
        ## Other 2
        ## Other 3



    /*--------------------------------------------------------------
    # BreakPoints

    --------------------------------------------------------------*/
/*--------------------------------------------------------------
    # Fonts
    --------------------------------------------------------------*/
/* @import url('https://fonts.googleapis.com/css?family=Montserrat:&display=swap');*/
@font-face {
  font-family: montseLight;
  src: url(../css/fonts/Montserrat-Light.ttf);
}

@font-face {
  font-family: montseRegular;
  src: url(../css/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: montseBold;
  src: url(../css/fonts/Montserrat-Bold.ttf);
}

/*--------------------------------------------------------------
    # Reseting with boostrap 
    --------------------------------------------------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  position: relative;
}

html,
body {
  overflow: auto;
  min-height: 100vh;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #dc3545;
  border-color: #7c0b15;
}

/*--------------------------------------------------------------
    # Variables
    --------------------------------------------------------------*/
:root {
  --alpha-font-light: 'montseLight', sans-serif;
  --alpha-font-regular: 'montseRegular', sans-serif;
  --alpha-font-bold: 'montseBold', sans-serif;
  --alpha-ligth-color: white;
  --alpha-base: #141325;
  --alpha-primary: #dd1d44;
  --alpha-primary-high: #ff224f;
  --main-bg-color: #141325;
  --second-bg-color: #dd1d44;
  --alpha-blue-light: #43425e;
  --alpha-gradient: 180deg, #0e4996 60%, #48b9ff 100%;
  --alpha-darker: #333333;
}

/*--------------------------------------------------------
  Boostrap reddifine
  --------------------------------------------------------------*/
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--alpha-primary);
  color: white;
}

#pills-tab a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#pills-tab .active {
  color: white;
}

#accordion {
  font-size: 1rem;
}

#accordion .btn-link {
  font-weight: lighter;
  color: gray;
}

#accordion .btn-link:hover {
  color: black;
  text-decoration: none;
}

#accordion .svg {
  -webkit-filter: sepia(100%) saturate(0%) contrast(200%);
          filter: sepia(100%) saturate(0%) contrast(200%);
}

/*--------------------------------------------------------
  text span and other font styles
  --------------------------------------------------------------*/
/* PRELOADER*/
.preloader {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
  background: var(--alpha-primary);
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.opacity {
  opacity: 0;
}

.hide {
  display: none !important;
}

.bg-principal {
  background-color: var(--main-bg-color);
}

.btn-principal {
  color: white;
  background-color: var(--main-bg-color);
}

.btn-principal:hover {
  color: white;
  background-color: var(--second-bg-color);
}

.btn-strech {
  padding: 5px 25px !important;
}

.dropdown-item:active {
  background-color: var(--alpha-primary);
}

.text-red {
  color: var(--alpha-primary);
  margin: auto 10px;
}

.submenuTop .menu1-end,
.submenuTop .menu2-end {
  width: 250px;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: end !important;
}

.dropdownBetMobile .dropdown-menu {
  left: -50px !important;
}

.dropdownBetMobile a {
  color: black;
  font-weight: bold;
}

/*--------------------------------------------------------
  MObile Toggle X 
  --------------------------------------------------------------*/
.navbar button[aria-expanded='true'] > span.closeBar {
  display: inline;
  color: black;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 1;
}

.navbar button[aria-expanded='true'] > span.navbar-toggler-icon {
  display: none;
}

.navbar button[aria-expanded='false'] > span.closeBar {
  display: none;
}

/*--------------------------------------------------------
  MObile Menu
  --------------------------------------------------------------*/
#dropdown00 {
  color: black;
}

.advanceMenu a {
  color: black;
}

.deposit-mobile .dropdown-menu {
  left: -100px;
}

.btn {
  -webkit-transition: none;
  transition: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar {
  -ms-flex-line-pack: start;
      align-content: start;
}

.navbar .navbar-toggler {
  border: none;
}

#navbarPrincipal:not(.show) {
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  position: absolute;
}

#navbarPrincipal.show {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  padding-right: 15%;
  background: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(83%, white), color-stop(83%, #020606), color-stop(85%, rgba(0, 0, 0, 0.835154)));
  background: linear-gradient(90deg, white 83%, #020606 83%, rgba(0, 0, 0, 0.835154) 85%);
  z-index: 99;
  width: 100%;
  display: block;
  position: absolute;
}

.nav-header {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #d5d5d5;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-name {
  color: var(--alpha-primary);
}

/*--------------------------------------------------------
  SIDEBAR DESKTOP
  --------------------------------------------------------------*/
.sidebar.show {
  height: 100vh;
  width: 250px;
}

.sideBarcollapse .sidebar {
  width: 80px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.sideBarcollapse .sidebar span.text {
  display: none;
}

.sideBarcollapse .sidebar .dropdown-toggle::after {
  display: none;
}

.sideBarcollapse .sidebar .svg {
  margin-left: 0px;
  margin-right: 0px;
}

.sideBarcollapse .sidebar .brand-icon {
  display: block !important;
}

.sideBarcollapse .sidebar .brand-normal {
  display: none;
}

#collapseBar {
  position: absolute;
  bottom: 40px;
  font-size: 14px;
  width: 80%;
  color: #737285;
}

#collapseBar:hover {
  color: white;
}

#collapseBar::after {
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
  position: absolute;
  right: 10px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #535264;
}

.sidebar {
  -webkit-transition: all 0s;
  transition: all 0s;
  z-index: 99;
}

.sidebar .btn-principal:hover .svg {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) contrast(200%);
          filter: invert(100%) sepia(100%) saturate(0%) contrast(200%);
}

.sidebar .dropdown > a .svg {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) contrast(200%);
          filter: invert(100%) sepia(100%) saturate(0%) contrast(200%);
}

.sidebar .dropdown-menu svg {
  -webkit-filter: none;
          filter: none;
}

.sidebar .brand-icon {
  display: none;
}

.sidebar .dropdown-item {
  font-size: 14px;
  padding: 0.25rem 0.5rem;
}

.sidebar .nav-link.active,
.sidebar .nav-pills .show > .nav-link {
  color: #fff;
  background-color: var(--second-bg-color);
}

.sidebar .dropdown-menu {
  width: auto;
}

.sidebar .dropdown-toggle::after {
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
  position: absolute;
  right: 10px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #535264;
}

/* TOP MENUS IN DESKTOP*/
.submenuTop a {
  color: black;
  font-size: clamp(0.5rem, 1rem, 0.9rem);
}

.submenuTop a:hover {
  color: var(--alpha-primary-high);
}

.submenuTop .btn {
  font-size: 12px;
  height: 30px;
}

.submenuTop .svg {
  margin-left: 0px;
}

@media (max-width: 768px) {
  .show-md {
    display: none;
  }
}

@media (min-width: 768px) {
  .hide-md {
    display: none;
  }
}

@media (min-width: 768px) {
  .sideBarcollapse main,
  .sideBarcollapse .submenuTop {
    padding-left: 85px;
  }
  .submenuTop a {
    font-size: 0.9rem;
  }
}

@media (max-width: 1080px) {
  .submenuTop a {
    font-size: 0.75rem;
  }
}

@media (max-width: 980px) {
  .submenuTop #dropdown02 {
    padding: 5px;
  }
  .submenuTop .nav > * {
    padding: 0.5rem 0.1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .submenuTop .menu1-end,
  .submenuTop .menu2-end {
    width: 200px;
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: end !important;
  }
}

/*--------------------------------------------------------
  SVG
  --------------------------------------------------------------*/
.svg {
  width: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.svg-inverted {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.svg-grey {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.btn-danger .svg {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) contrast(200%);
          filter: invert(100%) sepia(100%) saturate(0%) contrast(200%);
}

.btn-danger:focus .svg {
  -webkit-filter: invert(0%) sepia(100%) saturate(0%) contrast(200%);
          filter: invert(0%) sepia(100%) saturate(0%) contrast(200%);
}

.btn-danger:hover {
  color: gray;
  background-color: white;
  border-color: gray;
}

.btn-danger:hover .svg {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

/* ALERT OF OLD BROWSER*/
.browserupgrade {
  background: #000000a6;
  height: 400px;
  color: white;
  text-align: center;
  font-size: 3em;
  margin: 20%;
}

body {
  font-family: var(--alpha-font-regular);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--alpha-font-bold);
}

/*--------------------------------------------------------
 Seccions
  --------------------------------------------------------------*/
.seccion-bets .card img {
  width: auto;
  height: 25px;
}
/*# sourceMappingURL=main.css.map */